<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/aboutus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>About Us - Your Carpooling Company</title>
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>

    <section class="about">
        <h2>Our Mission</h2>
        <p>We are dedicated to providing a convenient and eco-friendly commuting solution for everyone. Our mission is to reduce traffic congestion, lower carbon emissions, and make daily commutes more efficient.</p>
    </section>

    <section class="team">
        
        <div class="team-member">
            <img src="https://media.licdn.com/dms/image/D4D35AQE570ApAlMn9g/profile-framedphoto-shrink_400_400/0/1691948305129?e=1695495600&v=beta&t=c9kZSj-NXDZgonuLW95o64u06MWcJEYY4JyjrUZZ7II" alt="Team Member 1">
            <h3>Naresh Gusain</h3>
            <!-- <a style="text-decoration: none;" class="fa-brands fa-github fa-2xl" style="color:#000000" href="https://www.linkedin.com/in/nareshgusain/"></a> -->
            <a href="https://github.com/NareshGusain">
            <i class="fa-brands fa-github fa-2xl" style="color: #371b1b;"></i>
            </a>
        </div>
        
        <div class="team-member">
            <img src="https://media.licdn.com/dms/image/C4E03AQEpbWiiTSv0Hw/profile-displayphoto-shrink_400_400/0/1647891682208?e=1700092800&v=beta&t=Q31aGkn-KwP8aKkNaotGbM2ElbfeHuunb2Fsf5mZI8s" alt="Team Member 2">
            <h3>Ankit Maurya</h3>
            <!-- <a style="text-decoration: none;" class="fa-brands fa-github fa-2xl" style="color:#000000" href="https://www.linkedin.com/in/nareshgusain/"></a> -->
            <a href="https://github.com/AnkitNSFW">
            <i class="fa-brands fa-github fa-2xl" style="color: #371b1b;"></i>
            </a>
        </div>

        <div class="team-member">
            <img src="https://media.licdn.com/dms/image/D4D35AQH7dVj1YwjKIg/profile-framedphoto-shrink_400_400/0/1677214199414?e=1695495600&v=beta&t=BYXGc9M4Nxiv8uzgdDeA7g_QrQtb-txZR_OlKBl1G3Q" alt="Team Member 3">
            <h3>Aman Singh</h3>
            <!-- <a style="text-decoration: none;" class="fa-brands fa-github fa-2xl" style="color:#000000" href="https://www.linkedin.com/in/aman-singh-a40927227/"></a> -->
            <a href="https://github.com/Aman18114312">
            <i class="fa-brands fa-github fa-2xl" style="color: #371b1b;"></i>
            </a>
           
        </div>

        <div class="team-member">
            <img src="https://media.licdn.com/dms/image/C5603AQGJMZ98xdJbug/profile-displayphoto-shrink_400_400/0/1646548304434?e=1700092800&v=beta&t=z14CzN0X5k5bzCBXIhK6jhtl6HJC4Tj7xU-ZPez8cqQ" alt="Team Member 4">
            <h3>Sanyam Jain</h3>
            <!-- <a style="text-decoration: none;" class="fa-brands fa-github fa-2xl" style="color:#000000" href="https://www.linkedin.com/in/sanyam-jain-350836233/"></a> -->
            <a href="https://github.com/sanyamjain0315">
            <i class="fa-brands fa-github fa-2xl" style="color: #371b1b;"></i>
            </a>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 Your Carpooling Company</p>
    </footer>
</body>
</html>
  