<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/login.css">


    <title>Login</title>
</head>
<body>
    <div class="ui raised very padded center aligned text container segment">
        <h1 class="ui header">Log in</h1>
        <br>
        <form action="/" method="POST">
            <div class="field">
                <div class="ui left icon input">
                    <i class="mail outline icon"></i>
                    <input type="email" name="email" placeholder="Email Address" autofocus="true" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" required>
                </div>
            </div>
            <br>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="text" placeholder="Enter a valid password" required  name="password">
                </div>
            </div>
            {{ message|safe }}
            <br>
            <div class="actions">
                <button class="ui large teal button col" type="submit">Log in</button>
            </div>
        </form>
        <br>
        <p>Don't have an account? <a href="/sign_up">Sign up</a></p>
    </div>
</body>
</html>

